Lab3/files/shema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Bank">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Card" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:int" name="scoreNumber" use="optional"/>
                                <xs:attribute type="xs:float" name="balance" use="optional"/>
                                <xs:attribute type="xs:string" name="beginDate" use="optional"/>
                                <xs:attribute type="xs:short" name="SVV" use="optional"/>
                                <xs:attribute type="xs:string" name="workEndDate" use="optional"/>
                                <xs:attribute type="xs:string" name="signature" use="optional"/>
                                <xs:attribute type="xs:string" name="tp" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Client" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                <xs:attribute type="xs:string" name="lastName" use="optional"/>
                                <xs:attribute type="xs:string" name="gender" use="optional"/>
                                <xs:attribute type="xs:byte" name="cardCount" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>